name: Auto Version Bump

on:
  workflow_dispatch:
    inputs:
      sdk:
        type: choice
        options: 
          - sdk1
          - sdk2
        description: "Source SDK to release"
        required: true
        default: "sdk1" #TODO - dropdown from list tied to something like sdks.json.
      version:
        description: "Release Version"
        required: true
        default: "11.11.11"
      consumer:
        type: choice
        options: 
          - consumer-A
          - consumer-B
        description: "Environment to Deploy to"
        required: true
        default: "consumer-A"


env:
  SOURCE: ${{ github.event.inputs.sdk }}
  VERSION: ${{ github.event.inputs.version }}
  TARGET: ${{ github.event.inputs.consumer }}
  BRANCH_PRE: autoBump/
  
jobs:

  bump-version:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      # - uses: actions/checkout@v2

      - name: Check Input
        run: |
          echo ${{ github.event.inputs.sdk }}
          echo ${{ github.event.inputs.version }}
          echo ${{ github.event.inputs.consumer }}
          
      - name: Check env.*
        run: |
          echo ${{env.BRANCH_PRE}}${{env.SOURCE}}_${{env.VERSION}}_${{env.TARGET}}


      - name: Git Global Config / Setup
        run: |
          git config --global user.email "sujanp1008@gmail.com"
          git config --global user.name ${{ github.actor }}
          # echo "PR_BRANCH = ${{env.BRANCH_PRE}}${{env.SOURCE}}_${{env.VERSION}}_${{env.TARGET}}" >> $GITHUB_ENV
#           echo "GITHUB_TOKEN=${{ secrets.WF_SEC }}" >> $GITHUB_ENV
#. ------- ERRORS -----
# Run # Git setup
#   # Git setup
#   export GITHUB_USER= pakalas
#   echo "GITHUB_USER=$GITHUB_USER" >> $GITHUB_ENV
#   echo "GITHUB_TOKEN=***" >> $GITHUB_ENV
#   git config --global user.email "sujanp1008@gmail.com"
#   git config --global user.name $GITHUB_USER
#   shell: /usr/bin/bash -e {0}
#   env:
#     SOURCE: sdk1
#     VERSION: 11.11.11
#     TARGET: consumer-A
#     PR_BRANCH: autoBump/
# Error: Process completed with exit code 1.
  
      # Clone the necessary repos
      - uses: actions/checkout@v2
        with:
          repository: my-kro/consumer-A #Needed to be publc. Else need something with secrets.TOKEN
          path: consumerA/
        # Run actions/checkout@v2
        # Syncing repository: my-kro/consumer-A
        # Getting Git version info
        # Initializing the repository
        # Disabling automatic garbage collection
        # Setting up auth
        # Determining the default branch
        # Fetching the repository
        # Determining the checkout info
        # Checking out the ref
        # /usr/bin/git log -1 --format='%H'
        # '10fe05354642f7be22c3f8e0da16ee31a4f399bd'

      - name: List files from clone path
        env:
          PR_BR: ${{env.BRANCH_PRE}}${{env.SOURCE}}_${{env.VERSION}}_${{env.TARGET}}
        run: |
          pwd
          ls -a
          cd consumerA/
          ls -a 
          #git remote add origin https://github.com/my-kro/consumer-A.git ###Err: already has origin, perhaps due to actions/checkout@v2.
          git checkout -b ${{env.PR_BR}}
          mv README.md REDED.md
          git remote set-url origin https://${{github.actor}}:${{ secrets.GITHUB_TOKEN }}@github.com/my-kro/consumer-A.git
          git status
          git add .
          git commit -m "rename file"
          git push --set-upstream origin ${{env.PR_BR}}
          hub pull-request --no-edit
        # /home/runner/work/sdk-release-mgr/sdk-release-mgr
        # .
        # ..
        # consumerA
        # .
        # ..
        # .git
        # README.md
        # package.json
        # On branch main
        # Your branch is up to date with 'origin/main'.

        # Changes not staged for commit:
        #   (use "git add/rm <file>..." to update what will be committed)
        #   (use "git restore <file>..." to discard changes in working directory)
        # 	deleted:    README.md
        # Untracked files:
        #   (use "git add <file>..." to include in what will be committed)
        # 	REDED.md
        # no changes added to commit (use "git add" and/or "git commit -a")
        # [main fa55b14] rename file
        #  1 file changed, 0 insertions(+), 0 deletions(-)
        #  rename README.md => REDED.md (100%)
        # remote: Permission to my-kro/consumer-A.git denied to github-actions[bot].
        # fatal: unable to access 'https://github.com/my-kro/consumer-A/': The requested URL returned error: 403
        # Error: Process completed with exit code 128.
        #------ another attempt ---------
        # Switched to a new branch 'autoBump/sdk1_11.11.11_consumer-A'
        # On branch autoBump/sdk1_11.11.11_consumer-A
        # Changes not staged for commit:
        #   (use "git add/rm <file>..." to update what will be committed)
        #   (use "git restore <file>..." to discard changes in working directory)
        # 	deleted:    README.md
        # Untracked files:
        #   (use "git add <file>..." to include in what will be committed)
        # 	REDED.md
        # no changes added to commit (use "git add" and/or "git commit -a")
        # [autoBump/sdk1_11.11.11_consumer-A 703e0c2] rename file
        #  1 file changed, 0 insertions(+), 0 deletions(-)
        #  rename README.md => REDED.md (100%)
        # fatal: The current branch autoBump/sdk1_11.11.11_consumer-A has no upstream branch.
        # To push the current branch and set the remote as upstream, use
        #     git push --set-upstream origin autoBump/sdk1_11.11.11_consumer-A
        # Error: Process completed with exit code 128.
