name: CI

on:
  workflow_dispatch:
    inputs:
      sdk: 
        description: "Source SDK to release"
        required: true
        default: "usage-metrics" #TODO - dropdown from list tied to something like sdks.json.
      version:
        description: "Release Version"
        required: true
        default: "11.11.11"
      consumer:
        description: "Environment to Deploy to"
        required: true
        default: "esperanto"


env:
  SOURCE: ${{ github.event.inputs.sdk }}
  VERSION: ${{ github.event.inputs.version }}
  TARGET: ${{ github.event.inputs.consumer }}

jobs:

  bump-version:
    runs-on: ubuntu-latest
    env:
      PR_BRANCH: autoBump/${{env.PR_BRANCH}}${{env.SOURCE}}_${{env.VERSION}}_${{env.TARGET}}
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Check Input
        run: |
          echo ${{ github.event.inputs.sdk }}
          echo ${{ github.event.inputs.version }}
          echo ${{ github.event.inputs.consumer }}
          
      - name: Check env.*
        run: |
          echo ${{env.SOURCE}}_${{env.VERSION}}_${{env.TARGET}}
          echo ${{env.PR_BRANCH}}

#       - name: Clone target repo
#         run: |
#           echo ${{env.PR_BRANCH}}${{env.SOURCE}}_${{env.VERSION}}_${{env.TARGET}}          
