name: Auto Version Bump

on:
  workflow_dispatch:
    inputs:
      sdk:
        type: choice
        options: 
          - sdk1
          - sdk2
        description: "Source SDK to release"
        required: true
        default: "sdk1" #TODO - dropdown from list tied to something like sdks.json.
      version:
        description: "Release Version"
        required: true
        default: "11.11.11"
      consumer:
        type: choice
        options: 
          - consumer-A
          - consumer-B
        description: "Environment to Deploy to"
        required: true
        default: "consumer-A"


env:
  SOURCE: ${{ github.event.inputs.sdk }}
  VERSION: ${{ github.event.inputs.version }}
  TARGET: ${{ github.event.inputs.consumer }}
  PR_BRANCH: autoBump/
  
jobs:

  bump-version:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      # - uses: actions/checkout@v2

      - name: Check Input
        run: |
          echo ${{ github.event.inputs.sdk }}
          echo ${{ github.event.inputs.version }}
          echo ${{ github.event.inputs.consumer }}
          
      - name: Check env.*
        run: |
          echo ${{env.PR_BRANCH}}${{env.SOURCE}}_${{env.VERSION}}_${{env.TARGET}}


      - name: Git Global Config / Setup
        run: |
          export GITHUB_USER= ${{ github.actor }}
          echo "GITHUB_USER=$GITHUB_USER" >> $GITHUB_ENV
          git config --global user.email "sujanp1008@gmail.com"
          git config --global user.name $GITHUB_USER
#           echo "GITHUB_TOKEN=${{ secrets.WF_SEC }}" >> $GITHUB_ENV
#. ------- ERRORS -----
# Run # Git setup
#   # Git setup
#   export GITHUB_USER= pakalas
#   echo "GITHUB_USER=$GITHUB_USER" >> $GITHUB_ENV
#   echo "GITHUB_TOKEN=***" >> $GITHUB_ENV
#   git config --global user.email "sujanp1008@gmail.com"
#   git config --global user.name $GITHUB_USER
#   shell: /usr/bin/bash -e {0}
#   env:
#     SOURCE: sdk1
#     VERSION: 11.11.11
#     TARGET: consumer-A
#     PR_BRANCH: autoBump/
# Error: Process completed with exit code 1.
  
      # Clone the necessary repos
      - uses: actions/checkout@v2
        with:
          repository: my-kro/consumer-A #Needed to be publc. Else need something with secrets.TOKEN
          path: consumerA/
        # Run actions/checkout@v2
        # Syncing repository: my-kro/consumer-A
        # Getting Git version info
        # Initializing the repository
        # Disabling automatic garbage collection
        # Setting up auth
        # Determining the default branch
        # Fetching the repository
        # Determining the checkout info
        # Checking out the ref
        # /usr/bin/git log -1 --format='%H'
        # '10fe05354642f7be22c3f8e0da16ee31a4f399bd'

      - name: List files from clone path
        run: |
          pwd
          ls -a
          cd consumerA/
          ls -a 
          mv README.md REDED.md
          git status
          git add .
          git commit -m "rename file"
          git push
        # /home/runner/work/sdk-release-mgr/sdk-release-mgr
        # .
        # ..
        # consumerA
        # .
        # ..
        # .git
        # README.md
        # package.json

