name: CI

on:
  workflow_dispatch:
    inputs:
      sdk:
        type: choice
        options: 
          - sdk1
          - sdk2
        description: "Source SDK to release"
        required: true
        default: "sdk1" #TODO - dropdown from list tied to something like sdks.json.
      version:
        description: "Release Version"
        required: true
        default: "11.11.11"
      consumer:
        type: choice
        options: 
          - consumer-A
          - consumer-B
        description: "Environment to Deploy to"
        required: true
        default: "consumer-A"


env:
  SOURCE: ${{ github.event.inputs.sdk }}
  VERSION: ${{ github.event.inputs.version }}
  TARGET: ${{ github.event.inputs.consumer }}
  PR_BRANCH: autoBump/
  
jobs:

  bump-version:
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      # - uses: actions/checkout@v2

      - name: Check Input
        run: |
          echo ${{ github.event.inputs.sdk }}
          echo ${{ github.event.inputs.version }}
          echo ${{ github.event.inputs.consumer }}
          
      - name: Check env.*
        run: |
          echo ${{env.PR_BRANCH}}${{env.SOURCE}}_${{env.VERSION}}_${{env.TARGET}}


      - name: Clone target repo
        if:  ${{ env.TARGET == 'consumer-A' }}
        run: |
          echo "Cloning consumer-A for ${{ github.actor }}"
          echo ${{ github }}
          
      - name: Check out my other private repo
        uses: actions/checkout@master
        with:
          repository: my-kro/consumer-A
          
